<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hungta.dao.UserDao">

    <cache/>

    <resultMap id="BaseResultMap" type="com.hungta.entity.User">
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="username" jdbcType="VARCHAR" property="username" />
        <result column="password" jdbcType="VARCHAR" property="password" />
        <result column="firstname" jdbcType="VARCHAR" property="firstname" />
        <result column="lastname" jdbcType="VARCHAR" property="lastname" />
        <collection property="authorities" ofType="com.hungta.entity.Authority" column="id" select="com.hungta.dao.AuthorityDao.findByUserId" fetchType="eager"/>
    </resultMap>

    <sql id="Base_Column_List" >
        id, firstname, lastname, username, password
    </sql>

    <select id="findAll" resultType="User">
        SELECT
        <include refid="Base_Column_List" />
        FROM orders
    </select>


    <select id="findByUsername" resultMap="BaseResultMap" parameterType="java.lang.String" >
        select
        <include refid="Base_Column_List" />
        from user
        where username = #{username,jdbcType=VARCHAR}
    </select>
</mapper>